/* general styling that aplly to all pages */
body {
    /* background-color: #caf0f8; */
    background-image: url(/Images/background.jpeg);
    /* background-image: url("https://img.freepik.com/premium-photo/simple-white-background-with-smooth-lines-light-colors_476363-5558.jpg?w=2000"); */

    margin: 0%;
    position: relative;
}

.navbar {
    background-color: #d7eaef;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: #FB8500;
}

.footer-text {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #d7eaef;
    width: 100%;
    height: 25px;
}



p {
    font-size: 20px;
}


/* HOME Page */

#header .home-navbar a {
    margin-left: 15px;
    text-decoration: none;
    color: #FB8500;
    font-size: 20px;
}

#header {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 30px;
}

#header .social-links {
    margin-top: 30px;
    display: flex;
}

#header .social-links a {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#header .social-links a:hover {
    background: rgb(189, 189, 192);
}

.home-navbar li {
    position: relative;
}

.home-navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
}


/* About Page */

#about-container {
    margin: 15px;
}

.heading {
    text-decoration: underline;
    color: #ffb703;
}

.bio {
    display: flex;
    justify-content: space-between;
}